- content_for :meta_description, Ecm::References::Category.model_name.human(count: :other)
- content_for :title, Ecm::References::Category.model_name.human(count: :other)

%h1= Ecm::References::Category.model_name.human(count: :other)

= render partial: 'table', locals: { categories: @categories }

%div.well.page-actions
  = link_to(t('ecm.references.actions.back'), root_path, class: 'btn btn-default')  