<div class="picture-gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <div class="picture-gallery_pictures row-fluid">
    <ul class="thumbnails">
      <% pictures.each do |picture| %>
        <%= render :partial => 'ecm/references/pictures/picture_for_gallery', :locals => { :picture => picture } %>
      <% end %>
    </ul>
  </div>
</div>

